/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    margin: 0;
    background: #021a0f;
    overflow: hidden;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* ===== CANVAS ===== */
canvas {
    display: block;
    image-rendering: pixelated;
}

/* ===== EFECTO CRT SUAVE (retro vibe opcional) ===== */
body::after {
    content: "";
    pointer-events: none;
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient(
        rgba(0,0,0,0.08) 0px,
        rgba(0,0,0,0.08) 2px,
        transparent 2px,
        transparent 4px
    );
}
